<%- include('partials/header.ejs') %>
  </head>
  <body>
    <header>
    <%- include('partials/nav.ejs') %>
    </header>

    <main>
      <h2>Something didn't worked as expected, page not found.</h2>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
